#projectBody{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & h1{
        align-self: center;
        font-family: "Titillium Web", sans-serif;
        font-size: calc(23px + 25%);
    }
    & h3{
        align-self: center;
        font-family: "Titillium Web", sans-serif;
        font-size: calc(12px + 25%);
        margin-bottom: 20px;
    }

    & #sampleList{
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
        padding-left: 25px;
        justify-content: space-evenly;
        max-width: 70%;
        & li{
            padding: 10px 5px;
            display: flex;
            align-items: center;
            flex-flow: row;
            word-wrap: break-word;
            width: 100%;
            height: auto;
            transition: all .5s ease-out;
            &:hover{
                cursor: pointer;
                border: 1px solid rgb(146, 107, 0);
                background: rgba(92, 67, 0, 0.267);
            }
            &:hover .tempimg{
                border: 2px solid rgb(143, 57, 0);
            }
            &:hover a{
                color: #ffa500;
                
            }
        }

        & .tempimg{
            width: 100px;
            height: auto;
            margin-right: 6px;
            border: 2px solid rgb(61, 24, 0);
        }

        & .arrowUp{
            width: 23px;
            height: auto;
            margin-left: 4px;
            filter: invert(1);
            transition: all .2s ease-out;
        }

        & main{
            display: flex;
            flex-flow: column wrap;
        }
        & a{
            font-size: calc(17px + 40%);
            font-family: "Titillium Web", sans-serif;
            color: white;
            text-decoration: none;
        }
        & p{
            text-align: justify;
            max-height: 100%;
            max-width: 98%;

            font-family: "Titillium Web", sans-serif;
            font-size: calc(13px + 25%);
            color: white;
            
        }
        
    }
}

@media (max-width: 540px) {
    #projectBody{
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        & h1{
            font-family: "Titillium Web", sans-serif;
            font-size: calc(23px + 25%);
        }
        & h3{
            font-family: "Titillium Web", sans-serif;
            font-size: calc(13px + 25%);
            margin-bottom: 25px;
        }
        & #sampleList{
            list-style: none;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            gap: 10px;
            padding-left: 0px;
            justify-content: space-evenly;
            max-width: 100%;
            & li{
                padding: 10px 5px;
                display: flex;
                align-items: center;
                flex-flow: column wrap;
                word-wrap: break-word;
                gap: 10px;
                width: 90%;
                height: auto;
                transition: all .5s ease-out;
                &:hover{
                    border: 1px solid rgb(146, 107, 0);
                    background: rgba(92, 67, 0, 0.267);
                }
                &:hover .tempimg{
                    border: 2px solid rgb(143, 57, 0);
                }
                &:hover a{
                    color: #ffa500;
                    
                }
            }
    
            & .tempimg{
                width: 70%;
                height: auto;
                border: 2px solid rgb(61, 24, 0);
            }
    
            & .arrowUp{
                width: 25px;
                height: auto;
                margin-left: 4px;
                filter: invert(1);
                transition: all .2s ease-out;
            }
    
            & main{
                display: flex;
                flex-flow: column wrap;
                text-align: center;
            }
            & a{
                font-size: calc(17px + 40%);
                font-family: "Titillium Web", sans-serif;
                color: white;
                text-decoration: none;    
            }
            & p{
                text-align: justify;
                max-height: 100%;
                max-width: 98%;
                text-indent: 20px;
                font-family: "Titillium Web", sans-serif;
                font-size: calc(13px + 25%);
                color: white;
                
            }
            
        }
    }
}