<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/github-icon.svg">
</head>
<body>
    <section>
        <header id="aboutMe">
            <div id="logo"><img src="../images/myPic.jpg"></img> <span>Eduardo</span></div> 
            <ul id="midias"><li id="midia1"></li><li id="midia2"></li><li id="midia3"></li></ul>
        </header>

        <div id="extraInfo">
            <main>Designing websites / Apps in Java.</main>
            <p>If you’re looking for a freelancer designer that can help you to bring an idea to life, then you’re on a timeline &rarr; let’s start</p>

            <ul id="myContact"> <li id="contact1">devgaleno@gmail.com</li> <li id="contact2">+55 (91) 99144-6047</li></ul>
            <ul id="avaliableDiv"><li id="color"></li><li id="text">Avaliable for Freelance.</li></ul>
        </div>

        <section id="projectBody">
            <ul id="sampleList">
                <li id="sample1">
                    <div id="overlaySample1" class="overlay">
                        <div class="text">Hackathon SENAI 2024</div>
                    </div>
                </li>
                <li id="sample2">
                    <div id="overlaySample2" class="overlay">
                        <div class="text">Test2</div>
                    </div>
                </li>
                <li id="sample3">
                    <div id="overlaySample3" class="overlay">
                        <div class="text">Test3</div>
                    </div>
                </li>
            </ul>
        </section>
    </section>
    <script src="../scripts/script.js"></script>
</body>
</html>