<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="icon" href="../images/github-icon.svg">
</head>
<body>
    <!-- <div id="project1">projeto1</div>
    <div id="project2">projeto2</div>
    <div id="project3">projeto3</div> -->

    <div id="project1" style="height: 600px; background: #FFD700;">Projeto 1</div>
    <div id="project2" style="height: 600px; background: #87CEEB; margin: 1000px auto;">Projeto 2</div>
    <div id="project3" style="height: 600px; background: #98FB98;">Projeto 3</div>

    <script src="../scripts/script.js"></script>
</body>
</html>