<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="icon" href="../images/github-icon.svg">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/project.css">
</head>
<body>
    <section>
        <header id="aboutMe">
            <div id="logo"><img src="../images/myPic2.jpg"></img> <span>Eduardo</span></div> 
            <ul id="midias"><li id="house"></li><li id="midia1"></li><li id="midia2"></li><li id="midia3"></li></ul>
        </header>
        
        <section id="projectsBase">
            <div id="project1" class="projectsBody">
                <header>
                    <img class="titleImg" src="../images/GrandPrixSenai.png" alt="">
                    <h1>StemLegends</h1>
                </header>
            </div>
        </section>
    </section>

    <script src="../scripts/project.js"></script>
</body>
</html>