@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&family=Titillium+Web:wght@300;400;700;900&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100dvh;
    background-size: cover;
    /* backdrop-filter: brightness(.5); */
    background: radial-gradient(circle, rgba(0, 0, 0, .2) 20%, rgba(0, 0, 0, .7) 80%, black 100%), url("../images/backgroundPortifas.jpg") center top;
    background-repeat: no-repeat;
    color: white;
}

#aboutMe{
    width: 97dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1.4px solid rgba(128, 128, 128, 0.4);
    margin-bottom: 10px;
    padding-bottom: 10px;
    & #logo{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-top: 10px;
        gap: 15px;
        & img{
            object-fit: cover;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
        }
            
        & span{
            font-size: calc(20px + 30%);
            font-family: "Tiny5", serif; 
            color: white;
            text-transform: uppercase;
        }
    }
        
    & #midias{
        list-style: none;
        display: flex;
        align-items: center;
        justify-self: flex-end;
        gap: 15px;
        padding-left: 10px;
        & li{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: transparent;
            transition: .4s;
            &:hover{
                scale: 1.3;
                cursor: pointer;
            }
        }

        & #midia1{
            background: url("../images/instagram-icon.svg") no-repeat;
            background-position: center;
            filter: invert(1);
        }
        & #midia2{
            background: url("../images/github-icon.svg") no-repeat;
            background-position: center;
            filter: invert(1);
        }
        & #midia3{
            background: url("../images/linkedin-icon.svg") no-repeat;
            background-position: center;
            filter: invert(1);
        }
    }
}

#extraInfo{
    margin-left: 20px;
    & main{
        font-size: calc(20px + 70%);
        font-family: "Titillium Web", sans-serif;
    }

    & p{
        width: 30%;
        margin-top: 20px;
        font-size: calc(10px + 40%);
        font-family: "Titillium Web", sans-serif;
    }

    & #myContact{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;
        
        & li{
            border-radius: 25px;
            padding: 10px;
        }

        & #contact1{
            background: white;
            color: black;
        }
        
        & #contact2{
            background: rgba(255, 193, 7, 1);
            color: black;

        }

        
    }
}
#avaliableDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 10px;
    & #color{
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
    }

    & #text{
        font-size: calc(12px + 20%);
        font-family: "Titillium Web", sans-serif;
    }
}

#projectBody{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & #sampleList{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 15px;
        justify-content: space-evenly;
            
        & .overlay{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: rgba(255, 193, 7, 1);
            height: 0;
            width: 100%;
            transition: .4s;
            & .text{
                font-family: "Titillium Web", sans-serif;
                font-size: calc(15px + 25%);
                color: white;
                background: black;
                border-radius: 10px;
                padding: 5px;
                opacity: 0;
                transition: .2s;
            }
            &:hover{
                cursor: pointer;
            }
        }
        & li{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            width: 300px;
            height: 300px;
            border-radius: 20px;
            &:hover .overlay{
                height: 100%;
            }
            &:hover .text{
                
                opacity: 1;
            }
        }

        & #sample1{
            background: url("../images/GrandPrixSenai.png") no-repeat;
            background-position: center;
            background-size: cover;
        }

        & #sample2{
            background: url("../images/space-7011298_1280.jpg") no-repeat;
            background-position: center;
            background-size: cover;
        }

        & #sample3{
            background: url("../images/myPic.jpg") no-repeat; 
            background-position: center;
            background-size: cover;
        }
    }
}



@media (max-width: 540px) {
    
    #projectBody{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        & #sampleList{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 5px 15px;

            & li{
                width: 200px;
                height: 200px;
            }

            & .overlay{
                flex-direction: column;
                gap: 10px;
            }
       }
    }
    
    #extraInfo{
        & p{
            text-align: justify;
            width: 60%;
        }
    }

    .clickIndicator{
        opacity: 1;
        animation: clickIndicator 1.5s ease-in-out infinite;
        background: url("../images/touch-icon.png") no-repeat;
        background-size: contain;
        background-position: center;
        width: 25px;
        height: 25px;
    }

    @keyframes clickIndicator {
        0%{
            scale: 1;
        }

        50%{
            scale: 1.3;
        }

        100%{
            scale: 1;
        }
    }
}